nav {
  background-color: #d9ae00;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  color: #FFFFFF;
  display: flex;
  height: 120px;
  justify-content: space-between;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

nav h1 {
  font-family: 'Bungee', cursive;
  font-size: 1.25em;
}

.create {
  color: white;
  text-align: center;
}

.icon {
  color: red;
}